/*内容*/
.act_list {
    width: 1000px;
    height: 268px;
    border: 1px solid #e2e0e1;
    margin-bottom: 22px;
    background-color: #ffffff;
}
.act_list h3{
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #222224;
    text-align: center;
}
.act_img {
    width: 950px;
    height: 180px;
    margin-left: 25px;
    border: 1px solid #eaeaea;
    position: relative;
}
.gray_hover{
    width: 950px;
    height: 180px;
    background: url(../img/activityCenter/list-gray.png) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.gray_hover span{
    width: 345px;
    height: 60px;
    margin: 0 auto;
    margin-top: 60px;
    display: block;
    font-size: 24px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
}
.act_list label{
    line-height: 38px;
    font-size: 14px;
    color: #a5a5a5;
    float: right;
    margin-right: 30px;
}
.loadMore {
    width: 280px;
    height: 40px;
    margin: 30px auto;
    font-size: 16px;
    color: #a3a3a3;
    line-height: 40px;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    display:none;/*默认不显示，ajax调用成功后才决定显示与否*/
    cursor: pointer;
}
.loadMore:hover{
    color: #2875d9;
    border: 1px solid #2875d9;
}