.cbbfixed {
    width: 50px;
    position: fixed;
    right: 0px;
    transition: bottom ease .3s;
    bottom: -185px;
    z-index: 3;
    cursor: pointer;
}

/*right_qq*/
.right_qq{z-index:50;position:fixed;bottom:140px;}
.right_qq ul{position:relative;}
.right_qq li{height:53px;position:relative;}
.right_qq li span.right_qq_on{display:block;width:50px;height:50px;overflow:hidden;position:relative;margin-bottom: 5px;}
.right_qq li .right_qq_on a{display:block;width:50px;height:50px;position:absolute;top:0;left:0;z-index:52;transition: all 200ms ease-in-out;}
.right_qq li .right_qq_on a.right_qq_zx,a.right_qq_app,a.goTop,a.right_qq_counter{background-image:url(../images/index/counter/icon_home.png);}
.right_qq li .right_qq_hid,.right_qq li span.right_qq_hid{display:none;position:absolute;top:0;right:0;z-index:51; line-height:20px;}
.right_qq a.right_qq_counter{background-position: -550px 0;}
.right_qq a.right_qq_zx{background-position:-350px 0;}
.right_qq a.right_qq_app{background-position:-400px 0;}
/*.right_qq a.right_qq_wx{background-position:-450px 0;}*/
.right_qq a.goTop {background-position: -500px 0;}

.right_qq a.right_qq_zx:hover{background-position:-350px -50px;}
.right_qq a.right_qq_app:hover{background-position:-400px -50px;}
/*.right_qq a.right_qq_wx:hover{background-position:-450px -50px;}*/
.right_qq a.goTop:hover{background-position:-500px -50px;}
.right_qq a.right_qq_counter:hover{background-position: -550px -50px;)}

.right_qq .right_qq_wx_pic{padding:10px;border:1px solid #e8e8e8;text-align:center;background:#fff;color: #7b7b7b;}
.right_qq .right_qq_wx_pic img{width: 125px;}
.right_qq .right_qq_wx_pic span{display:block;white-space: nowrap;}
.right_qq li .right_qq_hid i.arrow-icon{
    width: 8px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: -7px;
    display: block;
    margin-top: -7px;
    z-index: 52;
    background: url(../images/index/counter/icon-arrow.png) no-repeat top;
    background-position: 0 0;
}
.right_qq li .right_qq_hid_counter i.arrow-icon{
    margin-top: -80px;
}
.right_qq li .right_qq_hid_code i.arrow-icon{
    margin-top: 10px;
}
.right_qq .right_qq_hid_counter {
    padding: 0;
    border: none;
    background: none;
}






