.ms-controller{
    visibility: hidden
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
    padding: 0;
    border: 0;
    margin: 0;
    background: #f5f5f5;
}
html {overflow-x:hidden;}
img, h1, h2, h3, ul, li, dl, dt, dd, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
input,select,button,a {
    outline: none;
}

.fl-l{float: left;}
.fl-r{float: right;}

.clear{ clear: both;}

.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font22{ font-size:22px;}
.font24{ font-size:24px;}
.font36{ font-size:36px;}

.color-m{color:#2875d9;}
.color-ms{color: #ff7460;}
.colorfff{color:#fff;}
.color000{color:#000;}
.colora3{color:#a3a3a3;}
.color57{ color:#575757;}
.color3d{ color:#3d3d3d;}

.posi-r{position: relative;}
.posi-a{position: absolute;}

.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
*html .clearfix { height: 1%; }
.clearfix { display: block; }
*+html .clearfix { min-height: 1%; }

.h-main {
    width: 1080px;
    margin: 0 auto;
    margin-top: 74px;
}

.slidings {
    border-bottom: 2px solid #e7e2e2;
    height: 50px;
    margin: 0 auto;
}
.slidings li {
    float: left;
    text-align: center;
}
.slidings li a {
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 16px;
    color: #222224;
}

/*面包屑*/
.tag {
    width: 1080px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    text-indent: 2em;
}
.tag a {
    color: #000;
}
.tag a:hover,.tag .thisPage {
    color: #2875d9;
}

/*分页导航*/
.pages {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pages a {
    color:#999;
    box-sizing: border-box;
    height: 20px;
    min-width: 20px;
    border-radius: 2px;
    display: inline-block;
    border:1px solid #ddd;
    margin: 0 2px;
    padding: 0 4px;
    line-height: 18px;
}
.pages a:hover {
    border-color:#1d6bd9;
    color: #1d6bd9;
}
.pages a.cur {
    border-color:#1d6bd9;
    background: #1d6bd9;
    color: #fff;
}
.pages a.default {
    border-color: #ddd;
    color:#ddd;
    cursor: default;
}




/*header*/
.header{
    width: 100%;
    height: 32px;
    background:#2875d9;
}
.header_box{
    width: 1080px;
    margin: 0 auto;
    min-height:32px;
}


/*客服热线*/
.header_left{
    line-height: 32px;
    color: #fefefe;
    float: left;
}

/*手机客户端 微信公众号*/
.header_right1 {
    float: right;
    height: 32px;
    line-height: 32px;
    font-size:12px;
    background: #80cc60;
    position: relative;
}
.header_right1 > span{
    width: 90px;
    height: 32px;
    padding-left: 5px;
    color:#fff;
    background: #80cc60;
    display: inline-block;
}
.header_right1 > span:hover{
    background: #92df72;
    cursor: pointer;
}
.header_right1 > span > img {
    margin: 7px 2px;
    float: left;
}
.qrcode-outer{
    position: absolute;
    z-index: 1001;
    width: 145px;
    height: 195px;
    right: 66px;
    top: 38px;
    text-align: center;
    display:none;
}
.header_right1 .header-arrow > i {
    width: 100%;
    height: 8px;
    position: absolute;
    top: -7px;
    left: 0;
    display: block;
    z-index: 1002;
    background: url(../img/up_arrow.png) no-repeat center;
}
.qrcode span {
    color: #7b7b7b;
    display: block;
    font-size: 14px;
    height: 20px;
    position: relative;
    top: -20px;
    left: 10px;
    width: 125px;
}
.qrcode-weixin{
    position: absolute;
    z-index: 1001;
    width: 145px;
    height: 195px;
    right: -32px;
    top: 38px;
    text-align: center;
    display:none;
    border-top: none;
}
.qrcode {
    height: 155px;
    background: #fff;
    border: 1px #E8E8E8 solid;
    padding-top: 10px;
}
.header_right2 {
    font-size:12px;
    float:right;
    height:32px;
}
.header_right2 a {
    color:#fff;
    float:left;
    line-height: 15px;
    margin-top: 8px;
    padding: 0 12px;
    border-left: 1px solid #dcdcdc;
}
.header_right2 a:first-child{
    border: none;
    color:#FFDA1A;
}
.header_right2 a:hover{
    color:#7feff9;
}
/*top*/
.top{
    width:100%;
    background: #fff;
    height:74px;
    clear:both;
}
.top_box{
    width:1080px;
    height:74px;
    margin:0 auto;
}
.logo{
    float: left;
    height: 74px;
}
.two-code{
    float: left;
    height: 74px;
}
.nav{
    float:right;
    height: 74px;
    min-width:60px;
}
.nav>li{
    float:left;
    line-height:74px;
    position:relative;
}
.nav>li>a{
    height: 70px;
    line-height: 74px;
    padding: 0 16px;
    color: #4e4e4e;
    font-size: 16px;
    display: block;
}
.nav>li>a:hover {
    color:#2875d9;
    border-bottom: 4px solid #2875d9;
}
.nav>li>a.chooseNav{
    color: #2875d9;
    border-bottom: 4px solid #2875d9;
}

/*footer*/
.footer{width:100%; background: #3b3b3b;}
.copy{width: 1000px; margin: 0 auto; margin-top: 20px; height:100px; line-height:60px; background:#3b3b3b; font-size:12px; color:#818181; text-align:center;}
.footer_box{padding:20px 0; width:1000px; margin:0 auto;border-bottom: 1px solid #707070;}
.logo02{min-width:10px; float:left; margin-top:25px; margin-left: 25px;}
.logo02 a{display: block;}
.logo02 span{color: #707070; font-size:24px; display: block; padding-top: 7px;}
.footer_ul{float:right; margin-right: 29px;}
.footer_ul>li{font-size:16px; color:#707070; float:left; line-height:40px;}
.footer_ul>li+li{padding-left:65px; }
.footer_ul li li,.footer_ul li li a{font-size:14px; color:#707070; line-height:32px;}
.footer_ul li li a:hover{color: #9ec8ff;}
.footer_ul_li li:first-child a{font-size: 16px;font-weight: bold;}
.footer_ul_li li:first-child a:hover{color: #707070}
.links{width: 1000px; margin: 0 auto;}
.links >div{margin-top: 25px; line-height:20px;}
.links-left{float: left; color: #818181;}
.links-right{float: left; width: 930px;}
.links ul li{color: #818181; float:left; line-height:20px; display: inline-block; padding: 0 3px;}
.links ul li a span{display: inline-block; font-size: 12px; width: 86px; padding: 0 6px;}
.links ul li a{color:#9a9a9a;}
.links ul li a:hover{color: #c9c9c9;}
.chengxin{margin-left:20px }
.copy span{float: left; margin-left: 15px;}
.copy a{float: left;margin-left: 60px;}