/*轮播*/
.banner{
    min-height:300px;
    width:100%;
    height:362px;
    position: relative;
}
.banner ul li{
    width:100%;
    height:100%;
    position: absolute;
    display: none;
    z-index: 10;
}
.banner ul li:first-child{
    z-index:20;
    display: block;
}
.banner ul li a{
    width:100%;
    height:100%;
    display: block;
}
.banner .prev{
    background: url(../img/banner/prev.png) no-repeat;
    left:300px;
    top:159px;
}
.banner .next{
    background: url(../img/banner/next.png) no-repeat;
    right:300px;
    top:159px;
}
.cut{
    width:45px;
    height:45px;
    display: none;
    position: absolute;
    z-index: 20;
}
.banner:hover .cut{
    display: block;
}
.banner .cut:hover{
    opacity: .5;
    cursor: pointer;
}
.banner .indicator{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:10px;
    z-index: 20;
}
.indicator span{
    display: inline-block;
    width:14px;
    height:14px;
    border-radius: 50%;
    background: #aaa;
    margin: 5px;
}
.indicator span.cur{
    background:#2875d9;
}
/*模态框*/
.landbox{
    width:1080px;
    margin:0 auto;
    position:relative;
}
.land{
    width:270px;
    height:270px;
    position:absolute;
    z-index:30;
    top:45px;
    right:0;
    font-size:14px;
    background-color:rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    text-align: center;
}
.land_p01{
    padding-top: 23px;
    padding-left: 32px;
    line-height:50px;
    font-size:18px;
    color:#fff;
    text-align: left;
}
.land_p02{
    font-size:23px;
    color:#ffda1a;
    margin-bottom: 15px;
}
.land_p02 span{
    font-size:50px;
    color:#ffda1a;
}
.land_p04 a{
    display: inline-block;
    width:236px;
    height:40px;
    line-height:40px;
    font-size:20px;
    color:#fff;
    background:#ee5544;
    border-radius: 5px;
    text-align:center;
}
.land_p04 a:hover{
    background: #ff7161;
}
.land_p04 a span{
    display: block;
}
.land_p05 a{
    color:#fff;
    padding-right: 20px;
    text-decoration:underline;
}
.land_p05 a:hover{
    color:#ee5544;
}
.land_p05{
    color:#fff;
    font-size:14px;
    text-align:right;
    padding-right:22px;
    line-height:42px;
}

/*home-safe*/
.home-safe {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    margin-top: -10px;
}
/*home-main*/
.home-main{
    width:1080px;
    margin:0 auto;
    clear: both;
}
.quick_link {
    float: left;
    width: 25%;
    color: #9a9797;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
}
.quick_link:hover {
    color: #999797;
}
.quick_link span {
    display: block;
    width: 83px;
    height: 83px;
    margin: 10px auto;
    background: url(../img/index/icon_home.png) no-repeat;
    transition: all 200ms ease-in-out;
}

.home-main a:first-child+a span{background-position: -83px 0;}
.home-main a:first-child+a+a span{background-position: -166px 0;}
.home-main a:first-child+a+a+a span{background-position: -249px 0;}
.home-main a:first-child:hover span{background-position: 0 -83px;}
.home-main a:first-child+a:hover span{background-position: -83px -83px;}
.home-main a:first-child+a+a:hover span{background-position: -166px -83px;}
.home-main a:first-child+a+a+a:hover span{background-position: -249px -83px;}
.quick_link strong {
    display: block;
    color: #767676;
    font-size: 19px;
    font-weight: normal;
    padding-top: 5px;
}
.quick_link:hover strong {color: #2875d9;}

/*home-record*/
.home-record {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #e7e6e6;
    color: #727171;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(231, 232, 234, 0.6);
}
.quick_record {
    float: left;
    width: 25%;
    text-align: center;
}
.home-record span{
    color: #ee5544;
    font-size: 18px;
}
.warning span{
    display: inline-block;
    padding-left: 20px;
    background: url(../img/index/warning-ico.png) no-repeat left;
}

/*-- 升薪宝 --*/
.sxb {
    height: 410px;
    margin-top: 15px;
}
.home_products_left {
    float: left;
    width: 245px;
    height: 100%;
    background: #4181dc;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}
.home_products_left label {
    font-size: 14px;
    color: #b6eff7;
    line-height: 45px;
    display: block;
    background: #285fae;
}
.home_products_left h2 {
    font-weight: normal;
    font-size: 32px;
    margin: 40px auto 0;
    position: relative;
}
.home_products_left h2 i {
    position: absolute;
    right: 30px;
}
.home_products_left a.more {
    display: block;
    width: 88px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    background: #2b94ec;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 30px;
}
.home_products_left a.more:hover{background: #197de6;}
.home_products_left a.more:after{
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    border-width: 3px 5px ;
    border-color: transparent transparent transparent #fff;
    border-style: dashed dashed dashed solid;
    vertical-align: middle;
    margin-left: 4px;
}
.home_products_right {
    float: right;
    width: 835px;
    height: 100%;
    font-size: 14px;
    color: #858484;
    margin-bottom: 15px;
}
.home_sxb_box {
    float: left;
    background: #fff;
    width: 275px;
    box-shadow: 0 0 3px 1px #ededed;
    margin-left: 3px;
    text-align: center;
    height: 410px;
    font-size: 14px;
    color: #a6a6a6;
    cursor: pointer;
    position: relative;
}
.home_sxb_box:hover {
    box-shadow: 0 0 5px 1px #c7c5c6;
}
i.label_type_1 {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 1px 4px;
    font-size: 12px;
    border: 1px solid #ee5544;
    border-right: none;
    background: #fff;
    color: #ee5544;
}
.home_sxb_box a.sxb_name {
    display: block;
    margin: 25px 0;
    color: #a6a6a6;
    font-size: 15px;
}
.home_sxb_box a.sxb_name h3 {
    color: #5c5c5c;
    font-size: 21px;
}
p.cr_or {
    font-size: 22px;
    height: 60px;
    color: #9b9898;
}
p.cr_or span {
    color: #ee5544;
    font-size: 50px;
}
p.cr_or span i{
    border-radius: 10px;
    border: 1px solid #ee5544;
    margin-left: 15px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    color: #ee5544;
    font-size: 12px;
    text-align: center;
    position: absolute;
}
.home_sxb_box p.sxb_des {
    margin: 45px 15px 25px;
}
.home_sxb_box p.sxb_des span {
    display: block;
    float: left;
    width: 49.5%;
    text-align: right;
}
.home_sxb_box p.sxb_des span:first-child {
    text-align: left;
}
.home_sxb_box p.sxb_des strong {
    color: #858484;
}
.home_sxb_box ul.pro_data {
    margin: 0 auto;
}
.pro_data {
    width: 250px;
}
.pro_data li{
    width: 50%;
    float: left;
    text-align: right;
    font-size: 12px;
    color: #9a9a9a;
}
.pro_data li:first-child{text-align: left;}

/*-- box_button --*/
.box_button {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    margin: 10px auto 0;
    background: #2b94ec;
    display: inline-block;
}
.box_button:hover {
    color: #fff;
    background: #ff6600;
}
.box_button_over {
    color: #fff;
    background: #d5d6d6;/*还款中按钮*/
}
.box_button_over:hover {
    color: #fff;
    background: #d5d6d6;
}
.home_sxb_box .box_button {
    width: 185px;
    height: 35px;
    line-height: 35px;
    margin-top: 25px;
}

/*----- ztxm ------*/
.ztxm {
    height: 445px;
    clear:both;
}
.home_ztxm_box {
    float: left;
    width: 383px;
    height: 191px;
    padding: 15px 15px;
    margin-left: 4px;
    margin-bottom: 3px;
    background: #fff;
    box-shadow: 0 0 3px 1px #ededed;
    cursor: pointer;
    position: relative;
}
.home_ztxm_box:hover {
    box-shadow: 0 0 5px 1px #c7c5c6;
}
.home_ztxm_box a.ztxm_name {
    color: #a6a6a6;
    font-size: 15px;
}
.home_ztxm_box a.ztxm_name h3 {
    display: inline;
    color: #5c5c5c;
    font-size: 18px;
}
.pro_des {
    margin-top: 20px;
    margin-bottom: 30px;
}
.pro_des p.cr_or {
    font-size: 14px;
    width: 29%;
    float: left;
    text-align: center;
    color: #a6a6a6;
    margin-top: 6px;
}
.pro_des p.cr_or span {
    font-size: 35px;
}
p.ztxm_des {
    float: right;
    width: 70%;
    margin-top: 21px;
}
p.ztxm_des span {
    width: 95px;
    display: block;
    float: left;
    text-align: center;
    color: #a6a6a6;
    margin-left: 45px;
}
p.ztxm_des span:first-child {
    margin-left: 30px;
}
p.ztxm_des span strong {
    color: #858484;
}
.home_ztxm_box .pro_data {float: left;}
.home_ztxm_box .box_button {
    width: 99px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-top: 2px;
}

/*------- news ---------*/
.home-news {
    width: 100%;
    padding: 11px 0;
    background: #fff;
    margin-top: 15px;
}
/*---- 平台公告 ----*/
.board{
    width: 300px;
    float: left;
    padding: 0 10px;
    background: #fff;
    position: relative;
}
.news-title {
    font-size: 22px;
    font-weight: normal;
    color: #4181dc;
    margin-bottom: 25px;
}
.news-title:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 22px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 12px;
    background-color: #ee5544;
}
.board .gengduo a{
    font-size: 12px;
    line-height: 30px;
    color: #868686;
    position: absolute;
    right: 25px;
    top: 0;
}
.call ul{
    padding-top: 1px;
    padding-left: 20px;
}
.call ul li{
    color: #bebebe;
    display: list-item;
    list-style-type: disc;
    height: 30px;
    line-height: 30px;
}
.call ul li a {
    display: inline-block;
    color: #666565;
    font-size: 14px;
    vertical-align: middle;
}
.call >ul li a:hover{
    color: #4181dc;
}
.call ul li a span{
    width: 280px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*----- 新闻中心  -----*/
.news {
    width: 738px;
    border-right: 2px solid #ebe9e9;
}
.news-latest  {
    float: left;
    position: relative;
    width: 290px;
    height: 170px;
    overflow: hidden;
}
.news-latest a{
    color: #000;
    font-size: 12px;
    text-align: center;
}
.news-latest a:hover{
    color: #2875d9;
}
.news-latest a img{
    width: 100%;
    height: 100%;
}
.news-latest label {
    display: block;
    position: absolute;
    bottom: 0;
    background-color:#a5a1a0;
    filter:Alpha(opacity=80);
    background-color: rgba(165,161,164,0.8);
}
.news-latest span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 270px;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(165,161,164,0.8);
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news ul{
    float: left;
    width: 415px;
    margin-left: 30px;
    padding-top: 1px;
}
.news ul li{
    color: #bebebe;
    display: list-item;
    list-style-type: disc;
    height: 30px;
    line-height: 30px;
}
.news ul li a {
    display: inline-block;
    color: #464545;
    vertical-align: middle;
}
.news ul li a:hover{
    color: #4181dc;
}
.news >ul li span{
    width: 290px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news >ul li .news-date{
    width: 100px;
    margin-left: 20px;
    text-align: right;
    color: #b6b6b6;
}





