/*轮播*/
.banner01{width:100%; height:362px; min-width:1200px; overflow-x:hidden; overflow-y:hidden; position:relative; z-index:1;}
.banner{position:absolute;width:1920px;height:362px;  left:50%;margin-left:-960px; z-index:1;  }
.banner{height:362px;position:relative;}
.banner_pic{height:100%;}
#fcimg{ margin:0 auto; width: 100%; height:100%;}
#fcimg li{ height:100%;background-position: 50% 0px; background-repeat: no-repeat;background-size:100% 100%;}
#fcnum { margin:0 auto; position:absolute;bottom:48px;left:45%;height:19px; margin-bottom: -23px;position:absolute;text-align:center; }
#fcnum li{ float:left; background:url(../images/index/link.png) no-repeat; margin-left:10px; height:12px; width:12px; cursor: pointer; margin-top:8px;}
#fcnum li.crn { background:url(../images/index/hover.png) no-repeat;}

#fcnum li.one {
    background: url(../images/index/hover.png) no-repeat;
}

/*banner-btn*/
.banner-btn {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
}

span.banner-btn-prev {
    left: 50%;
    margin-left: -600px;
}

span.banner-btn-next {
    right: 50%;
    margin-right: -600px;
}

/*banner-btn end*/

/*模态框*/
.landbox{
    width: 1080px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 365px;
}
.land{
    width:270px;
    height:270px;
    position:absolute;
    z-index:30;
    top:45px;
    right:0;
    font-size:14px;
    background-color:rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
    text-align: center;
}
.land_p01{
    padding-top: 23px;
    padding-left: 32px;
    line-height:50px;
    font-size:18px;
    color:#fff;
    text-align: left;
}
.land_p02{
    font-size:23px;
    color:#ffda1a;
    margin-bottom: 15px;
}
.land_p02 span{
    font-size:50px;
    color:#ffda1a;
}
.land_p04 a{
    display: inline-block;
    width:236px;
    height:40px;
    line-height:40px;
    font-size:20px;
    color:#fff;
    background:#ee5544;
    border-radius: 5px;
    text-align:center;
}
.land_p04 a:hover{
    background: #ff7161;
}
.land_p04 a span{
    display: block;
}
.land_p05 a{
    color:#fff;
    padding-right: 20px;
    text-decoration:underline;
}
.land_p05 a:hover{
    color:#ee5544;
}
.land_p05{
    color:#fff;
    font-size:14px;
    text-align:right;
    padding-right:22px;
    line-height:42px;
}

/*home-safe*/
.home-safe {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    margin-top: -10px;
}
/*home-main*/
.home-main{
    width:1080px;
    margin:0 auto;
    clear: both;
}
.quick_link {
    float: left;
    width: 25%;
    color: #9a9797;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
}
.quick_link:hover {
    color: #999797;
}
.quick_link span {
    display: block;
    width: 83px;
    height: 83px;
    margin: 10px auto;
    background: url(../images/index/icon_home.png) no-repeat;
    transition: all 200ms ease-in-out;
}

.home-main a:first-child+a span{background-position: -83px 0;}
.home-main a:first-child+a+a span{background-position: -166px 0;}
.home-main a:first-child+a+a+a span{background-position: -249px 0;}
.home-main a:first-child:hover span{background-position: 0 -83px;}
.home-main a:first-child+a:hover span{background-position: -83px -83px;}
.home-main a:first-child+a+a:hover span{background-position: -166px -83px;}
.home-main a:first-child+a+a+a:hover span{background-position: -249px -83px;}
.quick_link strong {
    display: block;
    color: #767676;
    font-size: 19px;
    font-weight: normal;
    padding-top: 5px;
}
.quick_link:hover strong {color: #2875d9;}

/*home-record*/
.home-record {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #e7e6e6;
    color: #727171;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(231, 232, 234, 0.6);
}
.quick_record {
    float: left;
    width: 25%;
    text-align: center;
}
.home-record span{
    color: #ee5544;
    font-size: 18px;
}
.warning span{
    display: inline-block;
    padding-left: 20px;
    background: url(../images/index/warning-ico.png) no-repeat left;
}
/*-- 新手专享 --*/
.xszx {
    width: 1079px;
    height: 216px;
    box-shadow: 0 0 3px 1px #ededed;
    background: #fff url(../images/index/Newuser_bg.jpg) no-repeat center;
}
.xszx h3 {
    padding-left: 15px;
    line-height: 50px;
    color: #494646;
    font-size: 25px;
}
.xszx h3 i {
    padding-left: 10px;
    color: #5f5f5f;
    font-size: 14px;
}
.products_xszx_left {
    width: 728px;
    height: 130px;
    float: left;
    border-right: 1px solid #e7e6e6;
    position: relative;
    margin-right: 43px;
    margin-top: 15px;
}
i.label_type {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1px 4px;
    font-size: 12px;
    border: 1px solid #ffdeab;
    border-left: none;
    background: #fffbf0;
    color: #eb9206;
}
.xszx_des {
    margin-top: 40px;
    margin-left: 60px;
}
.xszx_des p {
    width: 33%;
    float: left;
    font-size: 14px;
    color: #a6a6a6;
    text-align: center;
}
.xszx_des p strong{
    color: #2b94ec;
    font-size: 50px;
    display: block;
    margin-bottom: -5px;
}
.xszx_des p label{
    color: #a6a6a6;
    font-size: 25px;
}

.products_xszx_right {
    width: 185px;
    float: left;
    margin-top: 20px;
}
.percent-circle {
    width: 124px;
    height: 62px;
    margin: 0 auto;
    font-size: 12px;
    color: #a6a6a6;
    text-align: center;
}
.percent-circle span {
    position: relative;
    top: -33px;
}
.products_xszx_right .box_button {
    width: 185px;
    height: 35px;
    line-height: 35px;
    margin-top: 16px;
}

/*-- 升薪宝 --*/
.sxb {
    height: 410px;
    margin-top: 15px;
}
.home_products_left {
    float: left;
    width: 245px;
    height: 100%;
    background: #4181dc;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}
.home_products_left label {
    font-size: 14px;
    color: #b6eff7;
    line-height: 45px;
    display: block;
    background: #285fae;
}
.home_products_left h2 {
    font-weight: normal;
    font-size: 32px;
    margin: 40px auto 0;
    position: relative;
}
.home_products_left h2 i {
    position: absolute;
    right: 30px;
}
.home_products_left a.more {
    display: block;
    width: 88px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    background: #2b94ec;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 30px;
}
.home_products_left a.more:hover{background: #197de6;}
.home_products_left a.more:after{
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    display: inline-block;
    border-width: 3px 5px ;
    border-color: transparent transparent transparent #fff;
    border-style: dashed dashed dashed solid;
    vertical-align: middle;
    margin-left: 4px;
}
.home_products_right {
    float: right;
    width: 835px;
    height: 100%;
    font-size: 14px;
    color: #858484;
    margin-bottom: 15px;
}
.home_sxb_box {
    float: left;
    background: #fff;
    width: 275px;
    box-shadow: 0 0 3px 1px #ededed;
    margin-left: 3px;
    text-align: center;
    height: 410px;
    font-size: 14px;
    color: #a6a6a6;
    cursor: pointer;
    position: relative;
}
.home_sxb_box:hover {
    box-shadow: 0 0 5px 1px #c7c5c6;
}
i.label_type_1 {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 1px 4px;
    font-size: 12px;
    border: 1px solid #ee5544;
    border-right: none;
    background: #fff;
    color: #ee5544;
    font-style: normal;
}
.home_sxb_box a.sxb_name {
    display: block;
    margin: 25px 0;
    color: #a6a6a6;
    font-size: 15px;
}
.home_sxb_box a.sxb_name h3 {
    color: #5c5c5c;
    font-size: 21px;
}
p.cr_or {
    font-size: 22px;
    height: 60px;
    color: #9b9898;
}
p.cr_or span {
    color: #ee5544;
    font-size: 50px;
}
p.cr_or span i{
    border-radius: 10px;
    border: 1px solid #ee5544;
    margin-left: 15px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    background-color: #ee5544;
    font-style: normal;
}
.home_sxb_box p.sxb_des {
    margin: 45px 15px 25px;
}
.home_sxb_box p.sxb_des span {
    display: block;
    float: left;
    width: 49.5%;
    text-align: right;
}
.home_sxb_box p.sxb_des span:first-child {
    text-align: left;
}
.home_sxb_box p.sxb_des strong {
    color: #858484;
}
.home_sxb_box ul.pro_data {
    margin: 0 auto;
}
.pro_data {
    width: 250px;
}
.pro_data li{
    width: 50%;
    float: left;
    text-align: right;
    font-size: 12px;
    color: #9a9a9a;
}
.pro_data li:first-child{text-align: left;}

/*-- box_button --*/
.box_button {
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    margin: 10px auto 0;
    background: #2b94ec;
    display: inline-block;
}
.box_button:hover {
    color: #fff;
    background: #ff6600;
}
.c {
    color: #fff;
    background: #d5d6d6;/*还款中按钮*/
}
.box_button_over:hover {
    color: #fff;
    background: #d5d6d6;
}
.home_sxb_box .box_button {
    width: 185px;
    height: 35px;
    line-height: 35px;
    margin-top: 25px;
}

/*----- ztxm ------*/
.ztxm {
    height: 445px;
    clear:both;
}
.home_ztxm_box {
    float: left;
    width: 383px;
    height: 191px;
    padding: 15px 15px;
    margin-left: 4px;
    margin-bottom: 3px;
    background: #fff;
    box-shadow: 0 0 3px 1px #ededed;
    cursor: pointer;
    position: relative;
}
.home_ztxm_box:hover {
    box-shadow: 0 0 5px 1px #c7c5c6;
}
.home_ztxm_box a.ztxm_name {
    color: #a6a6a6;
    font-size: 15px;
}
.home_ztxm_box a.ztxm_name h3 {
    display: inline;
    color: #5c5c5c;
    font-size: 18px;
}
.pro_des {
    margin-top: 20px;
    margin-bottom: 30px;
}
.pro_des p.cr_or {
    font-size: 14px;
    width: 29%;
    float: left;
    text-align: center;
    color: #a6a6a6;
    margin-top: 6px;
}
.pro_des p.cr_or span {
    font-size: 35px;
}
p.ztxm_des {
    float: right;
    width: 70%;
    margin-top: 21px;
}
p.ztxm_des span {
    width: 95px;
    display: block;
    float: left;
    text-align: center;
    color: #a6a6a6;
    margin-left: 45px;
}
p.ztxm_des span:first-child {
    margin-left: 30px;
}
p.ztxm_des span strong {
    color: #858484;
}
.home_ztxm_box .pro_data {float: left;}
.home_ztxm_box .box_button {
    width: 99px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-top: 2px;
}

/*------- news ---------*/
.home-news {
    width: 100%;
    padding: 11px 0;
    background: #fff;
}
/*---- 平台公告 ----*/
.board{
    width: 300px;
    float: left;
    padding: 0 10px;
    background: #fff;
    position: relative;
}
.news-title {
    font-size: 22px;
    font-weight: normal;
    color: #4181dc;
    margin-bottom: 25px;
}
.news-title:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 22px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 12px;
    background-color: #ee5544;
}
.board .gengduo a{
    font-size: 12px;
    line-height: 30px;
    color: #868686;
    position: absolute;
    right: 25px;
    top: 0;
}
.call ul{
    padding-top: 1px;
    padding-left: 20px;
}
.call ul li{
    color: #bebebe;
    display: list-item;
    list-style-type: disc;
    height: 30px;
    line-height: 30px;
}
.call ul li a {
    display: inline-block;
    color: #666565;
    font-size: 14px;
    vertical-align: middle;
}
.call >ul li a:hover{
    color: #4181dc;
}
.call ul li a span{
    width: 280px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*----- 新闻中心  -----*/
.news {
    width: 738px;
    border-right: 2px solid #ebe9e9;
}
.news-latest  {
    float: left;
    position: relative;
    width: 290px;
    height: 170px;
    overflow: hidden;
}
.news-latest a{
    color: #000;
    font-size: 12px;
    text-align: center;
}
.news-latest a:hover{
    color: #2875d9;
}
.news-latest a img{
    width: 100%;
    height: 100%;
}
.news-latest label {
    display: block;
    position: absolute;
    bottom: 0;
    background-color:#a5a1a0;
    filter:Alpha(opacity=80);
    background-color: rgba(165,161,164,0.8);
}
.news-latest span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 270px;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    background-color: rgba(165,161,164,0.8);
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news ul{
    float: left;
    width: 415px;
    margin-left: 30px;
    padding-top: 1px;
}
.news ul li{
    color: #bebebe;
    display: list-item;
    list-style-type: disc;
    height: 30px;
    line-height: 30px;
}
.news ul li a {
    display: inline-block;
    color: #464545;
    vertical-align: middle;
}
.news ul li a:hover{
    color: #4181dc;
}
.news >ul li span{
    width: 290px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news >ul li .news-date{
    width: 100px;
    margin-left: 20px;
    text-align: right;
    color: #b6b6b6;
}

/*----- 我们的投资者  -----*/
.home-investor{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding-top: 40px;
    border-bottom: 25px solid #efeeee;
    position: relative;
}
.home-investor .investor-title{
    width: 448px;
    height: 96px;
    margin: 0 auto;
}
.home-investor .swiper-container {
    width: 880px;
    height: 362px;
    margin-top: 70px;
    position: static;
}
.home-investor .swiper-button-box{
    width: 1100px;
    height: 570px;
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -550px;
}
.home-investor .swiper-button-prev,.home-investor .swiper-button-next{
    width: 44px !important;
    height: 95px !important;
    margin-top: -47px !important;
    background-size: 100% !important;
}
.home-investor .swiper-button-prev{
    background-image: url(../images/index/investor-button-prev.png) !important;
}
.home-investor .swiper-button-next{
    background-image: url(../images/index/investor-button-next.png) !important;
}

.home-investor .investor-box{
    display: inline-block;
    width: 288px;
    height: 250px;
    text-align: center;
}
.home-investor .investor-img{
    width: 169px;
    height: 169px;
    margin: 0 auto;
    position: relative;
}
.home-investor .investor-name{
    font-size: 18px;
    line-height: 18px;
    color: #626262;
    margin-top: 15px;
}
.home-investor .investor-icon{
    margin-top: 35px;
    margin-bottom: 10px;
}
.home-investor .investor-img .investor-choose{
    position: absolute;
    top: 0;
    left: 0;
}
.home-investor .investor-modal{
    width: 720px;
    margin-left: 110px;
    margin-top: -50px;
    font-size: 14px;
    color: #5d5d5d;
    text-align: left;
}
.home-investor .img-0,.home-investor .img-1,.home-investor .img-2,.home-investor .img-3,.home-investor .img-4,.home-investor .img-5{
    display: none;
}
.home-investor .img-0,.home-investor .img-3{
    display: block;
}
.home-investor .data-0,.home-investor .data-1,.home-investor .data-2,.home-investor .data-3,.home-investor .data-4,.home-investor .data-5{
    display: none;
}
.home-investor .data-0,.home-investor .data-3{
    display: block;
}
/*----- 媒体报道  -----*/
.media_list {
    margin-bottom: 15px;
}
#featureContainer {
    margin: 0 auto;
    width: 1080px;
}
#feature {
    position: relative;
    margin-bottom: 20px;
}
#feature .prev {
    width: 30px;
    display: block;
    background: url(../images/index/feature_left.png) no-repeat center;
    float: left;
    height: 58px;
    top: -58px;
    position: relative;
}
#feature .next {
    width: 30px;
    display: block;
    background: url(../images/index/feature_right.png) no-repeat center;
    float: right;
    height: 58px;
    top: -58px;
    position: relative;
}
.featureUL {
    position: relative;
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 2800px;
    float: left;
    left: 0;
}
.featureBox {
    width: 200px;
    float: left;
    height: 60px;
    overflow: hidden;
}
#button-scroll {
    z-index: 0;
    margin: 0 auto;
    width: 1000px!important;
    float: left;
}
#block {
    z-index: 0;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 60px;
    overflow: hidden;
}
#block .box {
    margin: 0 10px;
    float: left;
}
img.media-img {
    width: 175px;
    height: 58px;
    border: 1px solid #e3e3e3;
}





