.main-list{
    text-align:center;
    width: 1080px;
    height:auto;
    min-height:400px;
    background-color: #ffffff;
    margin: 0 auto;
    border: 1px solid#e2e0e1;
    margin-bottom: 40px;
}
.msg{width: 940px;border-bottom: 2px solid #dbdbdb;}
.msg ul li a{font-size: 16px; color: #151414;}
.msg ul li a:hover{color: #2173dc;}

.list_01{text-align: left;padding-left: 40px;}
.list_01 ul li{
    width: 920px;
    height: 72px;
    border-bottom: 1px solid #dbdbdb;
    list-style-image: url(../images/diamonds.png);
    list-style-position: inside;
}
.news_a{
    border-bottom: 3px solid #2173dc;
    color: #2173dc;
}
.notice_a{
    border-bottom: 3px solid #2173dc;
    color: #2173dc;
}
.dynamic_a{
    border-bottom: 3px solid #2173dc;
    color: #2173dc;
}
.list_01 ul li:hover{background-color: #f7f7f7;}
.list_01 ul li:hover a {color: #1d6bd9;}
.list_01 ul li a{
    line-height: 72px;
    font-size: 14px;
    color: #000000;
    display: inline-block;
    padding-left: 10px;
}
.list_01 ul li span{
    font-size: 14px;
    float: right;
    line-height: 72px;
    padding-right: 20px;
    color: #a3a3a3;
    display: inline-block;
}
.nd-page{text-align: center;}
.nd-footer{margin-top: 40px;}
.statistics{float: left;width: 30%;padding-top: 10px;color: #a3a3a3;font-size: 14px;}
.noticePage ul{display:block;padding-left: 95px;}
.alone{height:50px;}

