.pageContainer {
    width: 100%;
    background-color: #fff;
}
.G-banner {
    width: 100%;
    height: 639px;
    background: #6eccfc url(../img/newUserGuide/banner.jpg) no-repeat center;
}
.section {
    padding: 80px 0;
}
.intro {
    width: 1000px;
    margin: 0 auto;
}
img.img_title {
    display: block;
    margin: 20px auto;
    margin-bottom: 50px;
}
.top_txt {
    float: left;
    width: 450px;
    margin-left: 50px;
    margin-right: 100px;
    color: #bfbebe;
    font-size: 16px;
    line-height: 32px;
}
.top_txt p{
    margin-top: 15px;
}
.guide_slogan {
    width: 1100px;
    height: 200px;
    margin: 0 auto;
    background: url(../img/newUserGuide/guide_02_ico.png) no-repeat center top;
}
.guide_slogan span {
    display: block;
    width: 16%;
    padding: 0 2%;
    float: left;
    color: #ababab;
    padding-top: 120px;
    text-align: center;
}
/*--流程指引--*/
.center-step{
    width: 100%;
    padding: 60px 0;
    background: #377bdc;
}
.step-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.stepBox {
    font-size: 16px;
}
.stepBox ul {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 960px;
    padding: 0 20px;
    height: 50px;
    background: url(../img/newUserGuide/stepBg.png) no-repeat;
}
.stepBox li {
    float: left;
    width: 137px;
    height: 33px;
    margin: 8px 0px;
    line-height: 33px;
    color: #ababab;
    text-align: center;
    cursor: pointer;
}
.stepBox li:hover {
    background: url(../img/newUserGuide/stepLabel_hover.png) no-repeat;
}
.stepBox li.on {
    background: url(../img/newUserGuide/stepLabel_on.png) no-repeat;
    color: #fff;
}
.stepBox .step_con {
    margin: 0 auto;
    width: 1000px;
    background: #f4f4f4;
    color: #606060;
    overflow: hidden;
}
.step_con_txt {
    background: #fff;
    margin: 15px;
    padding: 0 30px;
    padding-bottom: 30px;
}
.stepBox .step_con p{
    padding: 30px 0 15px;
    font-size: 16px;
}
.stepBox .step_con img{
    width: 770px;
    display: block;
    margin: 0 auto;
    border: 1px solid #dddddd;
}