.main {
    width: 100%;
    background: #f7f6f6;
    background: url(../img/loginRegister/login_background.jpg) no-repeat center;
}
.register {
    width: 413px;
    float: right;
    margin-right: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
}
/*登录注册选择*/
.box_title {
    width: 412px;
    height:53px;
    float:left;
    border-bottom: 1px solid #e2e0e1;
}
.box_title a {
    color: #3f3a39;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    text-align:center;
    float:left;
    display: inline-block;
    width:205px;
    height:40px;
    padding-top:12px;
}
/*信息填写区域*/
.register_box {
    background-color: #fff;
    height: 520px;
    width: 410px;
    border: 1px solid #e2e0e1;
}
.register_message {
    padding-left: 48px;
    clear: both;
    position: relative;
}
.register_message > input {
    width: 259px;
    height: 35px;
    line-height: 38px;
    border: 1px solid #d9d9d9;
    margin-top: 12px;
    padding-left: 47px;
    font-size: 14px;
    float: left;
}
.register_message > i {
    display: inline-block;
    position: absolute;
    left:60px;
    top:20px;
    background: url(../img/loginRegister/icon-register.png) no-repeat;
    width:20px;
    height: 25px;
}
i.userPassward_bg {
    width:22px;
    background-position: -21px 0;
}
i.imgCode_bg {
    width:23px;
    background-position: -44px 0;
}
i.smsCode_bg {
    width:24px;
    background-position: -67px 0;
    margin-top: 4px;
}
i.referrerPhone_bg {
    width:23px;
    background-position: -92px 0;
}
.register_message .imgCode , .register_message .smsCode {
    width: 146PX;
    float: left;
}
.register_message .getSmsCode {
    border: none;
    width: 108px;
    height: 39px;
    margin-left: 5px;
    margin-top: 12px;
    cursor: pointer;
    background: #DDDDDD;
}
.serviceAgreement {
    padding-top: 12px;
    margin-left: 33px;
}
.serviceAgreement a {
    color: #2875d9;
}
.serviceAgreement input {
    width: 18px;
    height: 18px;
    border: solid 1px #cfd1d3;
    vertical-align: bottom;
    padding: 0;
    margin: 0
}
.register_btn {
    display: block;
    width: 316px;
    height: 47px;
    background: #2875d9;
    line-height: 47px;
    text-align: center;
    font-size: 21px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 2px;
    margin-top: 25px;
    margin-bottom: 15px;
    border:none;
    cursor: pointer;
}
.register_btn:hover {
    background: #fe6e4c;
}
.thisRegister {
    text-align: center;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: inline-block;
    border-bottom: 2px solid #2875d9;
}



















